<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Add File</h4>
    </div>
    <div class="modal-body" style="overflow:auto;height:500px;">
    	<div class='list-group file-list'>
    		
    	</div>
    	<div class='pull-right'>
    		<a class='btn btn-default more-file-btn'>More..</a>
    	</div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-primary save-btn">Save & Update</a>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dalog -->